/* .navigation{
height:70px;
width: 70px;
}
.navigation ul li {
    height: 50px;
    width: 70px;
    float:left;
    list-style: none;
}
.navigation ul li a{
    display:block;
    width: 50px;
    float: left;
} */